BASE_URL=https://www.saucedemo.com
STANDARD_USER=standard_user
STANDARD_PASSWORD=secret_sauce
LOCKED_OUT_USER=locked_out_user
LOCKED_OUT_PASSWORD=secret_sauce
HEADED=false
REQRES_API_KEY=YOUR_API_KEY_HERE
